<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-royal-900">
        <h1 class="title">New Task</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">
            <i class="icon ion-close"></i>
        </button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <ion-md-input ng-model="newTask.name" highlight-color="royal" type="text" placeholder="Add a Task" required></ion-md-input>
            </label>
            <div id="choose-workspace">
                <h4 class="title">Choose Workspace</h4>

                <ion-radio ng-repeat="item in workspaceList"
                           ng-value="item.value"
                           ng-model="data.workspace"
                           ng-change="workspaceChange(item)"
                           name="workspace" >
                    {{ item.text }}
                </ion-radio>
            </div>
            <button class="button button-outline button-full button-royal-900 ink" ng-click="createTask(newTask)">Create</button>
        </div>
    </ion-content>
</ion-modal-view>
